---
// Container for ContribCard components
---

<div class="contrib-areas">
    <slot />
</div>

<style>
    .contrib-areas {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 12px;
        margin: 20px 0;
    }

    @media (max-width: 968px) {
        .contrib-areas {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }
    }

    @media (max-width: 600px) {
        .contrib-areas {
            grid-template-columns: 1fr;
        }
    }
</style>
